body {
    background-color: hwb(67 70% 20%);
    font-family: sans-serif;
    font-size: 1.5rem;
  }
  
  h1 {
    color: hwb(240 10% 60%);
    font-weight: 900;
    letter-spacing: 50px;
    text-align: center;
    text-transform: uppercase;
  }
  
  h2 {
    margin: 50px;
    text-align: left;
    clear: both;
    background-color: hwb(68 20% 60%);
    color: white;
  }
  
  p.centrado {
    padding-top: 200px;
    margin-right: 100px;
    text-align: center;
  }
  
  img.izq {
    height: 600px;
    width: 800px;
    float: left;
    margin-left: 50px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
  img.der {
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  
  strong {
    font-style: oblique;
  }
  
  address {
    clear: both;
    font-size: 80%;
  }